@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#09090c] text-white;
  }
  @font-face {
    font-family: 'Druk Wide';
    src: url(/fonts/DrukWide-Super-Trial.otf);
    font-weight: 400;
    font-display: swap;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: hsl(var(--primary));
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary));
  opacity: 0.8;
}
.backdrop-shadow::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #000 3.31%,
    rgba(0, 0, 0, 0.99) 7.71%,
    rgba(0, 0, 0, 0.96) 12.11%,
    rgba(0, 0, 0, 0.91) 16.51%,
    rgba(0, 0, 0, 0.85) 20.91%,
    rgba(0, 0, 0, 0.76) 25.31%,
    rgba(0, 0, 0, 0.67) 29.71%,
    rgba(0, 0, 0, 0.55) 34.11%,
    rgba(0, 0, 0, 0.44) 38.52%,
    rgba(0, 0, 0, 0.33) 42.92%,
    rgba(0, 0, 0, 0.23) 47.32%,
    rgba(0, 0, 0, 0.15) 51.72%,
    rgba(0, 0, 0, 0.08) 56.12%,
    rgba(0, 0, 0, 0.03) 60.52%,
    rgba(0, 0, 0, 0.01) 64.92%,
    transparent 69.32%
  );
}

.backdrop-shadow::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 100px;
  height: 100%;
  bottom: -1px;
  right: 0;
  background: linear-gradient(
    180deg,
    transparent 50%,
    transparent 52.63%,
    rgba(0, 0, 0, 0.03) 55.25%,
    rgba(0, 0, 0, 0.08) 57.88%,
    rgba(0, 0, 0, 0.14) 60.51%,
    rgba(0, 0, 0, 0.23) 63.13%,
    rgba(0, 0, 0, 0.33) 65.76%,
    rgba(0, 0, 0, 0.44) 68.39%,
    rgba(0, 0, 0, 0.55) 71.01%,
    rgba(0, 0, 0, 0.66) 73.64%,
    rgba(0, 0, 0, 0.77) 76.27%,
    rgba(0, 0, 0, 0.85) 78.89%,
    rgba(0, 0, 0, 0.92) 81.52%,
    rgba(0, 0, 0, 0.96) 84.15%,
    rgba(0, 0, 0, 0.99) 86.77%,
    #000 89.4%
  );
}
.swiper {
  display: flex !important;
  align-items: center !important;
  row-gap: 100px;
  padding-block: 10px !important;
}
.swiper-wrapper {
  margin-bottom: 40px;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-button-next,
.swiper-button-prev {
  transform: translateY(-45px);
  background: transparent;
  transition: all 100ms ease-in-out;
}

.swiper-button-disabled {
  display: none !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  scale: 1.1;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: url('/assets/chevron-left.svg') !important;
  font-size: 0 !important;
  line-height: 0 !important;
  display: flex;
  align-items: center;
  justify-items: center;
  rotate: 180deg;
  height: 100%;
  transform: scale(1);
  padding: 0 4px;
  border-radius: 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  transition: transform 0.15s ease-out;
  background: rgba(9, 9, 12, 0.6) !important;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.swiper-button-prev::after {
  rotate: none;
}

.nav-linear {
  transition: all 0.3s linear;
  background-clip: text;
  background-image: linear-gradient(135deg, #c179ff, #63b5ff 100%, #63b5ff 0);
  color: #fff;
}
.nav-linear:hover {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.active-page {
  color: white;
  filter: brightness(2);
}
.active-page::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 200px;
  background: linear-gradient(90deg, #6a11cb, #2575fc 100%, #2575fc 0);
  opacity: 0.6999999881;
  filter: blur(14px);
  position: absolute;
  inset: 0;
  z-index: 10;
}

.gallery {
  display: flex !important;
  justify-content: end !important;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: red;
}

.autoplay-progress svg {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.autoplay-progress svg {
  width: 48px;
  height: 48px;
}

.autoplay-progress circle {
  stroke: #fff;
  stroke-width: 4px;
  fill: none;
}

.autoplay-progress span {
  font-size: 16px;
  color: white;
}

.bottom-gallery .swiper-button-next,
.bottom-gallery .swiper-button-prev {
  top: 110px !important;
}
